NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_WEB_URL=http://localhost:3001
DESKTOP_MAC_DOWNLOAD_URL=
DESKTOP_WINDOWS_DOWNLOAD_URL=
DESKTOP_MAC_DOWNLOAD_PATH=
DESKTOP_WINDOWS_DOWNLOAD_PATH=
