node_modules
.turbo
.next
.DS_Store
.mt5-worker
apps/desktop/dist
apps/desktop/src-tauri/target
services/mt5-worker/.venv
services/mt5-worker/.env.windows
__pycache__/
*.pyc
*.d.ts
!next-env.d.ts
mprocs.log
services.zip
apps/server/tsconfig.generate.*.json
packages/contracts/src/*.js
